
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: auto auto ;
}

/* ------------------------------------------------- */

#main {
    height: 100%;
    width: 100%;
    background-color: #fff;
}

nav {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 40px;
}

#nav-1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav h3 {
    font-size: 16px;
    border: 1.5px solid #000;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 50px;
    cursor: pointer;
}

nav i {
    font-size: 16px;
    border: 1.5px solid #000;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 50px;
    cursor: pointer;
}

nav h1 {
    font-size: 22px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
}

nav button {
    font-size: 16px;
    border: 1.5px solid #000;
    font-weight: 600;
    padding: 7px 12px;
    border-radius: 50px;
    background-color: #fff;
    cursor: pointer;
}

nav #signup {
    color: #fff;
    border: none;
    background-color: #FF4E26;
}

/* ------------------------------------------------- */

#container {
    height: calc(100% - 100px - 100px);
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
}

#container h1 {
    font-size: 10vw;
    font-weight: 500;
    text-transform: uppercase;
}

#container #container-img{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}

#container-img img {
    height: 65vh;
    width: 25vw;
    border-radius: 20px;
    object-fit: cover;
    position: absolute;
}

#container-img #img-1 {
    rotate: -30deg;
}
#container-img #img-2 {
    object-position: top;
    rotate: -20deg;
}
#container-img #img-3 {
    rotate: -10deg;
}
#container-img #img-4 {
    rotate: -0deg;
}

/* ------------------------------------------------- */

#container2 {
    height: 100px;
    width: 100%;
    padding: 0px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

#container2 h5 {
    font-size: 16px;
    font-weight: 500;
}

#container2 #arrow {
    font-size: 40px;
    padding: 20px;
    border: 1px solid #000;
    border-radius: 50% 50% 0 0;
    position: relative;
    top: 35px;
    cursor: pointer;
}

#container2-left{
    display: flex;
    flex-direction: column;
}

#container2-left span {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    bottom: 10px;
}

#container2-left span i {
    font-size: 20px;
    cursor: pointer;
}

/* ------------------------------------------------- */

#container-img img:hover{
    z-index: 9999;
    transition: 500ms;
}




@media (max-width:500px) {
    #container-img img {
        height: 40vh;
        width: 50vw;
        min-height: 200px;
        min-width: 150px;
    }
    
    nav {
        height: 100px;
        padding: 10px 10px;
        align-items: flex-start;
    }
    nav h3  {
        display: none;
    }

    nav button {
        display: none;
        font-size: 12px;
        border: 1.5px solid #000;
    }
    nav #signup {
        display: block;
    }

    #container2 {
        padding: 0px 10px;
    
    }

    #container2-left span {
        align-items: center;
        justify-content: space-between;
        padding-left: 20px;
    }

    #container2 h5 {
        padding-top: 22px;
    }

    #container2-left h5 {
        padding-top: 0px;
        text-align: end;
    }


    #container-img img:active{
        z-index: 9999;
        transition: 500ms;
    }
}